name: Release

permissions:
  contents: write

on:
  push:
    tags: ["*"]

jobs:
  bump:
    name: Bump Version
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          ref: main

      - name: Update Changelog
        uses: thomaseizinger/keep-a-changelog-new-release@v3
        with:
          tag: ${{ github.ref_name }}

      - name: Bump Cargo version
        id: version-bump
        uses: DervexDev/file-version-bumper@v1
        with:
          path: ./Cargo.toml

      - name: Update Cargo lock
        run: cargo update --workspace

      - name: Commit and Push
        uses: EndBug/add-and-commit@v9
        if: ${{ github.ref_name != steps.version-bump.outputs.old_version }}
        with:
          message: Bump version to ${{ github.ref_name }}
          default_author: github_actions

      - name: Update tag
        if: ${{ github.ref_name != steps.version-bump.outputs.old_version }}
        run: |
          git tag -fa ${{ github.ref_name }} -m "Release ${{ github.ref_name }}"
          git push -f --tags

  ensure-release:
    name: Ensure Release
    runs-on: ubuntu-latest
    needs: bump

    steps:
      - name: Create or Update Release
        uses: softprops/action-gh-release@v2
        with:
          name: ${{ github.ref_name }}
          tag_name: ${{ github.ref_name }}
          prerelease: ${{ contains(github.ref_name, 'pre') }}
          generate_release_notes: true
          draft: false

  build:
    name: Build (${{ matrix.label }})
    runs-on: ${{ matrix.os }}
    needs: ensure-release

    env:
      ASSET_NAME: vasc-${{ github.ref_name }}-${{ matrix.label }}.zip

    strategy:
      matrix:
        include:
          # x86_64
          - host: linux
            os: ubuntu-22.04
            target: x86_64-unknown-linux-gnu
            label: linux-x86_64

          - host: macos
            os: macos-latest
            target: x86_64-apple-darwin
            label: macos-x86_64

          - host: windows
            os: windows-latest
            target: x86_64-pc-windows-msvc
            label: windows-x86_64

            # aarch64
          - host: macos
            os: macos-latest
            target: aarch64-apple-darwin
            label: macos-aarch64

    steps:
      - uses: actions/checkout@v4
        with:
          ref: main

      - name: Setup Rust
        uses: hecrj/setup-rust-action@v2
        with:
          targets: ${{ matrix.target }}

      - name: Build
        run: cargo build --all-features --release --verbose --target ${{ matrix.target }}
        env:
          vasc_TOKEN: ${{ secrets.vasc_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Archive
        if: ${{ matrix.host != 'windows' }}
        shell: bash
        run: |
          mkdir -p release
          cp "target/${{ matrix.target }}/release/vasc" release/
          cd release
          zip -9 "../${ASSET_NAME}" vasc

      - name: Archive (Windows)
        if: ${{ matrix.host == 'windows' }}
        shell: pwsh
        run: |
          New-Item -ItemType Directory -Path release -Force | Out-Null
          Copy-Item "target/${{ matrix.target }}/release/vasc.exe" "release/vasc.exe"
          Compress-Archive -Path "release/vasc.exe" -DestinationPath "$env:ASSET_NAME" -Force

      - name: Upload to Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.ASSET_NAME }}
          path: ${{ env.ASSET_NAME }}

      - name: Upload to Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: gh release upload "${{ github.ref_name }}" "${{ env.ASSET_NAME }}" --repo "${{ github.repository }}" --clobber
